.bg-red{
    background-color: #b21c1c;
}   
    
.lateral-left{
  background-image: url(../assets/images/aside-left.png);
  background-size: cover;
  background-repeat: repeat-y; 
}

.lateral-right{
  background-image: url(../assets/images/aside-right.png);
  background-size: cover;
  background-repeat: repeat-y;
}

.font-style{
  font-family: "Viga";
} 

.text-white{
  color: white;
}

.text-red{
  color: #b21c1c;
}

.text-small{
  font-size: 15px;
}

.text-footer{
  font-size: 10px;
}

.profile-photo {
  width: 100px;
  height: 100px;
}

.img-nav{
  width: 5%;
}

.iconedit-toggler {
  border-color: rgb(255,255,255)!important;
}

.iconedit-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

.feed-height{
  height: 100vh;
}

.input-resize{
  resize: none;
}

.post-area{
  resize: none;
}

.scroll-edit  {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-edit ::-webkit-scrollbar { 
  display: none;
}

.btn-post:hover {
  background-color: #b21c1c;
  border: 0;
}

@media (max-width: 800px) {

.lateral-left{
display: none;
}
.lateral-right{
display: none;
}

.select-div{
flex-direction: column!important;
}

.img-nav {
  width: 25%;
}

.profile-photo {
  width: 80px;
  height: 80px;
}

}